<!DOCTYPE HTML>
<html lang="en" data-layout-decorate="~{fragments/template}">
<head>
    <title>eCustomer-App-Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <!-- Main-Panel-Content -->
    <div class="content" data-layout-fragment="content">
        <div class="container-fluid">
            <!-- your content here -->
            <div class="row">
            </div>
        </div>
    </div>
</body>
</html>